@font-face {
  font-family: "iconfont"; /* Project id 3237457 */
  src: url('iconfont.woff2?t=1646914092498') format('woff2'),
       url('iconfont.woff?t=1646914092498') format('woff'),
       url('iconfont.ttf?t=1646914092498') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huafei:before {
  content: "\e602";
}

.icon-shoujitianchong:before {
  content: "\e6b9";
}

.icon-shouji:before {
  content: "\e8c6";
}

.icon-yanzhengma:before {
  content: "\e6a0";
}

.icon-yonghuming:before {
  content: "\e65a";
}

.icon-mima:before {
  content: "\e600";
}

.icon-yonghuming1:before {
  content: "\e601";
}

.icon-tianchongxing-:before {
  content: "\e638";
}

.icon-yanzhengma1:before {
  content: "\e667";
}

.icon-yanzhengma2:before {
  content: "\e624";
}

.icon-yanzhengma3:before {
  content: "\e70b";
}

.icon-jurassic_user:before {
  content: "\e6a5";
}

.icon-yanzhengma4:before {
  content: "\e609";
}

